.ux-button{
    cursor: pointer;
    position: absolute;
}

body{
    background-position: top;
    background-size: 100%;
    overflow: hidden;
}

.ux-lightbox{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 500;
}

.ux-iframe{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ux-step1{
    background-image: url("../images/001.jpg");
}

.ux-step2{
    background-image: url("../images/002.jpg");
}

.ux-step3{
    background-image: url("../images/003a.jpg");
}

.ux-step4{
    background-image: url("../images/004.jpg");
}

.ux-step5{
    background-image: url("../images/005a.jpg");
}

.ux-step6{
    background-image: url("../images/006b.jpg");
}

.ux-step7{
    background-image: url("../images/007.jpg");
}

.ux-step8{
    background-image: url("../images/prev2.jpg");
}

.ux-step9{
    background-image: url("../images/prev1.jpg");
}

.ux-downloadArrow{
    background-image: url("../images/3.gif");
    height: 144px;
    width: 114px;
    left: 10px;
    bottom: -50px;
    position: absolute;
    opacity: 0;
}

.ux-hpButton{
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
}

.ux-topCreate{
    width: 150px;
    height: 70px;
    top: 0;
    right: 5%;
}

.ux-watch{
    left: 50%;
    top: 27%;
    height: 150px;
    width: 13%;
}

.ux-record{
    left: 35%;
    top: 27%;
    height: 150px;
    width: 13%;
}

.ux-3create{
    left: 51.5%;
    top: 63%;
    height: 150px;
    width: 8%;
}

.ux-preview{
    left: 60.5%;
    top: 63%;
    height: 150px;
    width: 8%;
}

.ux-3createAudio{
    left: 21.7%;
    top: 63%;
    height: 150px;
    width: 8%;
}

.ux-previewAudio{
    left: 30.5%;
    top: 63%;
    height: 150px;
    width: 8%;
}

.ux-createAccount{
    left: 43.1%;
    top: 63.9%;
    height: 300px;
    width: 20.3%;
}

.ux-createBoxes{
    left: 18.9%;
    top: 18.2%;
    height: 40%;
    width: 60%;
}

.ux-downloadBoxes{
    left: 30.9%;
    top: 50.2%;
    height: 200px;
    width: 50%;
}

#ux-finalDownload{
    background-image: url("../images/btn.png");
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    width: 329px;
    height: 90px;
    cursor: pointer;
}

